@import "tailwindcss";

@font-face {
  font-family: "Poppins";

  src:
    local("Poppins"),
    url("../public/fonts/Poppins-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Medium";

  src:
    local("Poppins Medium"),
    url("../public/fonts/Poppins-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Poppins SemiBold";

  src:
    local("Poppins SemiBold"),
    url("../public/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Bold";

  src:
    local("Poppins Bold"),
    url("../public/fonts/Poppins-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Black";

  src:
    local("Poppins Black"),
    url("../public/fonts/Poppins-Black.ttf") format("truetype");
  font-display: swap;
}

@utility container {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

@utility bg-linear-deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}
@utility bg-linear-withdraw {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}
@utility bg-linear-transfer {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

@theme {
  --font-Poppins: "Poppins";
  --font-PoppinsMedium: "Poppins Medium";
  --font-PoppinsSemiBold: "Poppins SemiBold";
  --font-PoppinsBold: "Poppins Bold";
  --font-PoppinsBlack: "Poppins Black";

  --color-White-Smoke: #f3f3f3;

  --breakpoint-xs: 430px;
  --color-green: #66c873;
  --color-red: #f5465d;
}

@layer components {
  .movement {
    @apply flex items-center justify-between;
  }

  .deposit {
    @apply w-max px-2.5 text-white bg-linear-deposit rounded-4xl text-xs uppercase font-PoppinsSemiBold;
  }

  .withdraw {
    @apply w-max px-2.5 text-white bg-linear-withdraw rounded-4xl text-xs uppercase font-PoppinsSemiBold;
  }
}
